<script src="../../server/index.js"></script>
<template>
    <div>
        <div v-if="sesionIniciada">
            <div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-2 barraLateral p-0 m-0">
                            <BarraLateral @sesion:cerrar="cerrarSesion" @vista:boleta="mostrarBoleta" @vista:cedula="mostrarCedula" id="BarraLateral" :permisos="usuario.permisos"/>
                        </div>
                    
                        <div class="col" >
                            <div class="row ">
                                
                                <div class="col mt-3">
                                    <div v-if="vista === 'none'" class="card center mb-5">
                                        <div v-if="usuario.permisos === 4" class="card-body text-dark text-center">
                                            <h1>Bienvenida/o   {{usuario.nombre}}</h1>   
                                        </div>
                                        <div v-if="usuario.permisos === 3" class="card-body text-dark text-center">
                                            <h1>Bienvenido Prof. {{usuario.nombre}}</h1>   
                                        </div>
                                        <div v-if="usuario.permisos === 2" class="card-body text-dark text-center">
                                            <h1>Bienvenido Sr./Sra. {{usuario.nombre}}</h1>   
                                        </div>
                                        <div v-if="usuario.permisos === 1" class="card-body text-dark text-center">
                                            <h1>Bienvenido alumno  {{usuario.nombre}}</h1>   
                                        </div>
                                        
                                        
                                    </div>
                                    <Boleta v-else-if="vista === 'boleta'" :usuario="usuario" />
                                    <Cedula v-else-if="vista === 'cedula'"></Cedula>           
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div v-else>
            <InicioSesion @sesion:iniciada="iniciarSesion" />
        </div>

    </div>
</template>
<script>
import InicioSesion from '../components/inicioSesion/InicioSesion.vue';
import BarraLateral from '../components/interfaz/BarraLateral.vue';
import Boleta from '../components/formatos/Boletas.vue';
import Cedula from '../components/formatos/Cedula.vue';

export default {
    data () {
        return{
            sesionIniciada: true,
            usuario: {
                id: '',
                nombre: '',
                permisos: 4,
                calificaciones: []

                
            },
            vista: 'none'
        }
    },
    components: {
        InicioSesion,
        BarraLateral,
        Boleta,
        Cedula
    },
    methods: {
        iniciarSesion (usuario) {
            this.sesionIniciada = true;
            this.usuario.id = usuario._id;            
            this.usuario.nombre = usuario.name;
            this.usuario.permisos = usuario.permission;
            this.usuario.calificaciones = usuario.subjects;            
        },
        cerrarSesion () {
            this.sesionIniciada = false;
            this.usuario.id = '';
            this.usuario.nombre = '';
        },
        mostrarBoleta () {
            this.vista = 'boleta'
        },
        mostrarCedula () {
            this.vista = 'cedula'
        }

    }
}
</script>

<style scoped>
*{
    color: black;
}
.col-md-2{
    padding: 0;
}

@media only screen and (max-width: 1000px) {
    .barraLateral{
        display: none;
    }
}
</style>
