<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="center boleta boleta-titulo">
                    <h4> BACHILLERATO OFICIAL "GRAL. IGNACIO ZARAGOZA"</h4>                    
                    C.C.T.: 21EBH0057Z
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class=" center boleta boleta-titulo">
                    REPORTE DE EVALUACION PARCIAL Y FINAL
                </div>                
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="mt-2  boleta boleta-datos">
                    <div class="row">

                        <div class="col-6">                            
                            Nombre: {{usuario.name}}                          
                        </div>
                        <div class="col-6">
                            Semestre: 1°
                        </div>
                        
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">
                            Grupo: "A"
                        </div>
                        <div class="col-4">
                            Turno: Matutino
                        </div>
                        <div class="col-4">
                            Ciclo escolar: 2018-2019
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="boleta boleta-calificacion">
                    <div class="row p-0 m-0">
                        <div class="col-5 px-0 border-right border-bottom border-dark">
                            <div class="row p-0 m-0 ">
                                <div class="col-12 "><br></div>
                                <div class="col-12 center">
                                    Asignatura
                                </div>
                                <div class="col-12"><br></div>
                            </div>                            
                            
                        </div>
                        <div class="col p-0 border-bottom border-dark">
                            
                            <div class="col-12  center border-bottom border-dark">
                                Evaluaciones
                            </div>
                            
                            <div class="row m-0 p-0">
                                <div class="col-4 px-0">
                                    
                                    <div class="center pt-2 ajustable border-right border-bottom border-dark ">
                                        Parciales
                                    </div>
                                    <div class="row p-0 m-0">
                                        <div class="col-4 p-0 center border-right border-dark">1°</div>
                                        <div class="col-4 p-0 center border-right border-dark">2°</div>
                                        <div class="col-4 p-0 center border-right border-dark">3°</div>
                                    </div>
                                    
                                </div>
                                <div class="col-3 p-0 border-right border-dark">
                                    <div class="row m-0 p-0 ">
                                        <div class="col-12 pt-2"><br></div>
                                        <div class="col-12 p-0 center ajustable">Promedio</div>
                                    </div>
                                </div>
                                <div class="col-5 p-0 m-0">
                                    <div class="center ajustable  pt-2 border-bottom border-dark">
                                        Examenes
                                    </div>
                                    <div class="row m-0 p-0">
                                        <div class="col-6 center border-right border-dark ajustable">Extra.</div>
                                        <div class="col-6 center ajustable">Título</div>
                                    </div>
                                </div>                                
                            </div>
                        </div>                        
                    </div>
                    <div class="row p-0 m-0">
                        <div class="col-5 p-0 m-0 border-right  border-dark">
                            <div class="row p-0 m-0">
                                
                                <div class="col-12  border-bottom border-dark" v-for="materia in usuario.calificaciones[0]" :key="materia">
                                    {{materia.name}}
                                </div>
                                
                            </div>
                        </div>
                        <div class="col p-0 m-0">
                             <div class="row p-0 m-0" v-for="materia in usuario.calificaciones[0]" :key="materia">
                                 <div class="col-4 p-0 m-0 ">
                                     <div class="row p-0 m-0 border-bottom border-dark" >
                                         <div class="col-4 center border-right border-dark">{{materia.partial_1}}</div>
                                         <div class="col-4 center border-right border-dark">{{materia.partial_2}}</div>
                                         <div class="col-4 center border-right border-dark">{{materia.partial_3}}</div>                                         
                                     </div>
                                 </div>
                                 <div class="col-3 p-0 border-right border-bottom border-dark">
                                    <div class="row m-0 p-0 ">                                        
                                        <div class="col-12 p-0 center ">{{(materia.partial_1+ materia.partial_2 +materia.partial_3)/3}}</div>
                                    </div>
                                </div>
                                <div class="col-5 p-0 border-bottom border-dark">
                                    <div class="row m-0 p-0">
                                        <div class="col-6 center border-right border-dark">6</div>
                                        <div class="col-6 center">8</div>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
            
    </div>
</template>
<script>
export default {
    props: ['Usuario'],
    data () {
        return {
            usuario: this.Usuario,
            
        }
    }
}
</script>

<style scoped>
.ajustable{
    font-size: 1rem;
}
 
.center{
    align-self: center;
    text-align: center;
}
.boleta{
    
    border: 1px solid #000;
    border-radius: 5px;
    
    
}
.boleta-titulo{
    padding: 4px ;
    font-size: 20px;
    background-color: rgb(165, 165, 165);    
}
.boleta-datos{
    padding: 4px 4px;
    background-color: rgb(190, 190, 190);
    border-radius: 5px 5px 0 0;
}
.boleta-calificacion{
    border-radius: 0 0 5px 5px;
}


@media only screen and (max-width: 700px){
    .ajustable{
    font-size: .68rem;
    padding: 5px 0 ;
}
}
</style>



