<template>
    <div>
        <div class="container-fluid">
            <div class="row p-0 m-0">
                <div class="col-12 p-0 m-0">
                    <div class="row p-0 m-0 py-3 capsula titulo ">
                        <div class="col-2">
                            <img src="../../assets/sep-logo.png" alt="Sep" width="120" height="120">
                        </div>
                        <div class="col-8 center ">
                            <h2>CÉDULA DE REGISTRO Y ACTUALIZACIÓN DE DATOS</h2>
                            <br>
                            <div class="row pl-5">
                                <div class="col-6  izquierda pl-5">
                                    <span class="h4">
                                        Ciclo escolar: 
                                    </span>
                                    <select>
                                       <option value="2019">2019-2020</option>
                                       <option value="2020">2020-2021</option>
                                       <option value="2021">2021-2022</option>
                                       <option value="2022">2022-2023</option>
                                       <option value="2023">2023-2024</option>
                                   </select>
                                </div>
                                <div class="col-6  izquierda pl-5">
                                   <span class="h4">Fecha:</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">*</div>
                    </div>
                </div>
                <div class="col-12 p-0 m-0 pt-5">
                    <div class="capsula center">
                        <div class="titulo border-bottom h5">
                            DATOS DEL ALUMNO(A)
                        </div>
                        <div class="row p-0 m-0">
                            <div class="col-6"></div>
                            <div class="col-6 izquierda">NIA:
                                <div class="border-bottom border-dark  inline">
                                    <input class="input-text border-top-0 border-right-0 border-left-0 border-bottom border-dark" type="text"  maxlength="8"/>
                                </div>
                            </div>
                            <div class="col-12 izquierda">NOMBRE COMPLETO:</div>
                            <div class="col-12">
                                <div class="row m-0 p-0 border-bottom border-dark">
                                    <div class="col-4 "><input class="input-text border-0 center p-0" type="text"></div>
                                    <div class="col-4"><input class="input-text border-0 center p-0" type="text"></div>
                                    <div class="col-4"><input class="input-text border-0 center p-0" type="text"></div>
                                </div>
                                <div class="row m-0 p-0  ">
                                    <div class="col-4 text-muted">APELLIDO PATERNO</div>
                                    <div class="col-4 text-muted">APELLIDO MATERNO</div>
                                    <div class="col-4 text-muted">NOMBRE(S)</div>
                                </div>
                            </div>
                            <div class="col-12 py-2">
                                <div class="row">
                                    <div class="col-6 izquierda">
                                        GÉNERO:
                                        <div class="inline">
                                            <input class="mx-3" type="radio" id="Choice1"
                                            name="genero" value="Hombre">
                                            <label for="Choice1"> HOMBRE </label>

                                            <input class="mx-3" type="radio" id="contactChoice2"
                                            name="genero" value="Mujer">
                                            <label for="contactChoice2"> MUJER </label>

                                            
                                        </div>

                                    </div>
                                    <div class="col-6">
                                        FECHA DE NACIMIENTO: <input type="text" class="input-text input-text border-top-0 border-right-0 border-left-0 border-bottom border-dark">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>

.center{
    text-align: center;
}
.izquierda{
    text-align: left;
}
.inline{
    display: inline;
}
.capsula{
    border: 1px solid black;
    border-radius: 5px;
}
.titulo{    
    background-color: #dad8d8;
}
select{
    border: 0px ;
    background-color: #dad8d8;
    font-size: 18px;
}
option{
    border: 0px ;
    background-color: white;
    border: #ffffff solid 0 0 1px 0
}
.input-text{
    
    margin: 0;
    padding: 0 70px 0 0;

}
</style>
