<template>
<div class="img">
    <div class="img-overlay">

        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 center">
                    <div class="card py-5 mt-5">
                        <div class="card-title center ">
                            <h1>Iniciar sesión</h1>
                        </div>
                        <div class="row">
                            <div class="col-1 col-md-2"></div>
                            <div class="col-10 col-md-8">                        
                                <div class="form-group">
                                    <span class="h5">Usuario</span>
                                    <input class="form-control" type="text" placeholder="Juan" v-model="usuario"/>
                                    <div id="usuarioError"></div>
                                </div>
                                <div class="form-group">
                                    <span class="h5">Contraseña</span>
                                    <input class="form-control" type="password" placeholder="••••••••••••••••"  v-model="contraseña"/>
                                    <div id="contraseñaError"></div>
                                </div>
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col-6">
                                        <div class="form-group mt-3">
                                            <button class="btn btn-block bg-success" @click="comprovar">Entrar</button>      
                                        </div>
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </div>
                            <div class="col-1 col-md-2"></div>
                        </div>
                        <div class="card-body center">
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>    
    </div>
</div>
</template>

<script>
export default {
    data () {
        return {
            usuario: '',
            contraseña: '',

            err: 0
            
        }
    },    
    methods: {
        comprovar () {
            
            this.err = 0
            
            
                // Comprovar nombre de usuario

            // Comprovar que no este vacio
            if (this.usuario === '') {
                document.getElementById('usuarioError').innerHTML =  
                    `<div class="alert alert-danger p-1 mt-2">
                        el nombre de usuario esta vacio
                    </div>`
                this.err += 1
                    
            }else{

                document.getElementById('usuarioError').innerHTML =  '';

                
            }
                // Comprovar contraseña
            
            
            //comprovar que no este vacia
            if (this.contraseña === '') {
                document.getElementById('contraseñaError').innerHTML = 
                    `<div class="alert alert-danger p-1 mt-2">
                        la contraseña esta vacia
                    </div>`
                    this.err += 1
            }else{
                document.getElementById('contraseñaError').innerHTML = '';

                
            }
            
            if (this.err == 0) {
                // comprovar en la base de datos
                
                fetch('/api/cuentas/comprovar_usuario/' + this.usuario + '@' + this.contraseña)
                .then(res => res.json())
                .then(data => {
                    
                    
                    if (data === null){
                        document.getElementById('contraseñaError').innerHTML =  
                            `<div class="alert alert-danger p-1 mt-2">
                                el nombre de usuario o la contraseña son incorrectos
                            </div>`; 
                    }else{
                        this.$emit('sesion:iniciada',data)
                    }
                    
                });
            }
        }
    }
}
</script>


<style scoped>
.img{
     
    background-image: url('../../assets/fondo_app_gestion_escolar.jpg');
    height: 100vh;
    
    
}
.img-overlay{
    background-color: #f8d3bdab;
    height: 100vh;
}
.center{
    align-self: center;
    text-align: center;
}
.card{
    box-shadow: 0 0 30px green;
}
</style>

