<template>
    <div>
        <div>
            <div class="container-fluid bg-success barra-lateral" >
                <div class="row inicio-barra-lateral">
                    <div class="col-12 p">
                        <button v-if="permisos === 1 ||permisos === 2" class="btn btn-block  btn-primary inicio m-2 btn-barra-lateral" @click="mostrarBoleta">
                            Calificaciones
                        </button>
                        <button v-if="permisos === 3 " class="btn btn-block  btn-primary inicio m-2 btn-barra-lateral" @click="mostrarLista">
                            Lista de Calificaciones
                        </button>
                        <button v-if="permisos === 3 " class="btn btn-block  btn-primary inicio m-2 btn-barra-lateral" @click="mostrarLista">
                            Lista de Asistencia
                        </button>
                        <button v-if="permisos === 4 " class="btn btn-block  btn-primary inicio m-2 btn-barra-lateral" @click="mostrarCedula">
                            Registrar alumno
                        </button>
                    </div>                        

                </div>
                
                <div class="row final-barra-lateral">
                    <div class="col-12 p ">
                        <button class="btn btn-block  btn-primary inicio  m-2 btn-barra-lateral">
                            Configuración
                        </button>                                
                    </div>
                    <div class="col-12 p ">
                        <button class="btn btn-block btn-danger  m-2 btn-barra-lateral" @click="cerrarSesion">
                            Salir
                        </button>
                    </div>                    
                </div>                
            </div>            
        </div>
    </div>
</template>
<script>
export default {
    methods: {
        cerrarSesion () {
            this.$emit('sesion:cerrar')
        },
        mostrarBoleta () {
            this.$emit('vista:boleta')
        },
        mostrarCedula () {
            this.$emit('vista:cedula')
        }
    },
    props: ['permisos']
}
</script>


<style scoped>
.p{
    padding: 0;
    margin-right: 2px;
}
.btn{
    color: white;
   
}
.btn-barra-lateral{
    width: 100%;
    height: 5%;
    text-align: center;
    
    
}
.barra-lateral{
    position: fixed;
    
    height: 100vh;
    width: 16vw;
}
.center{
    align-self: center;
    text-align: center;
}
.inicio-barra-lateral{
    position: fixed;
    
    top: 0;
    width: 14%;
    
    
    border: 0;
    
    
    display: flex;
    align-items: center;
}

.final-barra-lateral{

    position: fixed;
    
    bottom: 0;
    width: 14%;
    
    
    border: 0;
    
    
    display: flex;
    align-items: center;
}
</style>

